@charset "UTF-8";
/*Lo mejor es dejar esta hoja solo con los use*/
/*Colores*/
/*Fuentes*/
/*Trajan Pro 3 Regular*/
/*Trajan Pro 3 Semibold*/
/*Trajan Pro 3 Bold*/
/*Reset de CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*Tipografía*/
  font-family: "trajan-pro-3", serif;
}

/*Lo mejor es dejar esta hoja solo con los use*/
/*Para linkear los estilos*/
.headercontacto {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headercontacto .headerlogo {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.headercontacto Nav {
  width: 60%;
}
.headercontacto Nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.headercontacto Nav ul li {
  list-style: none;
}
.headercontacto Nav ul .botones {
  margin-right: 20px;
}

/*Main*/
/*banner*/
.bannernosotras {
  background-color: #f8e7ef;
  background-position: center;
  background-size: cover;
  height: 100px;
  display: flex;
  align-items: center;
}
.bannernosotras .titulobordo {
  color: #a63233;
}

/*Presentacion*/
.contenedornosotras {
  background-image: url(../fotos/fondo-nosotras.JPG);
  color: black;
  background-position-x: left;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-areas: "img texto";
  grid-template-columns: 45% 45%;
  justify-content: center;
  gap: 5px;
  /*Titulo y texto*/
}
.contenedornosotras .gridimagennosotras {
  width: 100%;
  height: 100%;
  grid-area: img;
}
.contenedornosotras .gridtexto {
  grid-area: texto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Lo mejor es dejar esta hoja solo con los use*/
/*Para linkear los estilos*/
.bodyservicios {
  background-image: url(../fotos/body-servicios.JPG);
  background-position-x: center;
  background-size: cover;
  background-attachment: fixed;
  /*MAIN*/
}
.bodyservicios header .headerservicios {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bodyservicios header .headerservicios .headerlogo {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bodyservicios header .headerservicios Nav {
  width: 60%;
}
.bodyservicios header .headerservicios Nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.bodyservicios header .headerservicios Nav ul li {
  list-style: none;
}
.bodyservicios header .headerservicios Nav ul .botones {
  margin-right: 20px;
}
.bodyservicios .bannerservicios {
  background-image: url(../fotos/banner-servicios.JPG);
  background-position: center;
  background-size: cover;
  height: 100px;
  display: flex;
  align-items: center;
}
.bodyservicios .bannerservicios .titulonegro {
  color: black;
  align-items: center;
}
.bodyservicios .contenedorservicios {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 2rem;
  padding: 3rem;
  background-image: url("../fotos/body-servicios.JPG");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  justify-items: center;
  text-align: center;
}
.bodyservicios .contenedorservicios .gridtextos1,
.bodyservicios .contenedorservicios .gridtextos2,
.bodyservicios .contenedorservicios .gridtextos3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "trajan-pro-3", serif;
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  max-width: 200px;
}
.bodyservicios .contenedorservicios .gridimagenservicios1,
.bodyservicios .contenedorservicios .gridimagenservicios2,
.bodyservicios .contenedorservicios .gridimagenservicios3 {
  width: 100px;
  height: auto;
  margin-top: -0.5rem;
}

/*Lo mejor es dejar esta hoja solo con los use*/
/*Para linkear los estilos*/
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header ul .botones {
  /* Margen interno entre la línea y el contenido=
  padding: ;*/
  /*Espacio externo entre el borde de la caja y el borde de las cajas aledañas*/
  margin-right: 20px;
}

.headercontacto {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headercontacto .headerlogo {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.headercontacto Nav {
  width: 60%;
}

/*MAIN*/
.bannerresenas {
  background-image: url(../fotos/banner-resenas.JPG);
  background-position: center;
  background-size: cover;
  height: 100px;
  display: flex;
  align-items: center;
}
.bannerresenas .titulonegro {
  color: black;
  align-items: center;
}

/*Lo mejor es dejar esta hoja solo con los use*/
/*Para linkear los estilos*/
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header ul .botones {
  /* Margen interno entre la línea y el contenido=
  padding: ;*/
  /*Espacio externo entre el borde de la caja y el borde de las cajas aledañas*/
  margin-right: 20px;
}

.headercontacto {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headercontacto .headerlogo {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.headercontacto Nav {
  width: 60%;
}

/*MAIN*/
.bannercontacto {
  background-color: #FFFFFF;
  background-position: center;
  background-size: cover;
  border: 1px solid black;
  height: 100px;
  display: flex;
  align-items: center;
}
.bannercontacto .titulobordo {
  color: #a63233;
}

.contenedorcontacto {
  flex-direction: column;
  justify-content: space-around;
}
.contenedorcontacto .mapacontacto {
  width: 100%;
}
.contenedorcontacto .formulariocontacto {
  width: 100%;
  margin-bottom: 20px;
}
.contenedorcontacto .formulariocontacto .formularioc {
  background-color: white;
  padding: 1.5rem;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-family: "trajan-pro-3", serif;
  font-weight: 700;
  font-style: normal;
}
.contenedorcontacto .formulariocontacto .formularioc .form {
  display: flex;
  justify-content: space-between;
}
.contenedorcontacto .formulariocontacto .formularioc .formdos {
  font-family: "trajan-pro-3", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.contenedorcontacto .formulariocontacto .formularioc .formtres {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Lo mejor es dejar esta hoja solo con los use*/
/*Para linkear los estilos*/
/*Footer*/
.pie {
  background-color: #FFFFFF;
  background-position: top;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
}
.pie .datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.pie .mailfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.pie .logofooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.pie .logofooter .logo {
  width: 140px;
  height: auto;
}
.pie .redesfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 40%;
  padding: 10px;
}
.pie .redesfooter .redes {
  width: 55px;
  height: auto;
}

/*MediaQ al final*/
/*MediaQ*/
@media only screen and (max-width: 480px) {
  /*header*/
  .headercontacto,
  .headerservicios {
    flex-direction: column;
    justify-content: center;
  }
  .headercontacto .headerlogo,
  .headerservicios .headerlogo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .headercontacto Nav,
  .headerservicios Nav {
    width: 100%;
    padding: 5px;
  }
  .headercontacto Nav .botones,
  .headerservicios Nav .botones {
    margin-right: 0px;
  }
  /*Main Nosotras*/
  .contenedornosotras {
    grid-template-areas: "texto texto" "img img";
  }
  .contenedornosotras .gridtexto {
    align-items: center;
  }
  /*Main Servicios*/
  .contenedorservicios {
    display: grid;
    grid-template-areas: "texto1 " "img1 " "texto2" "img2" "texto3" "img3";
    grid-template-columns: 90%;
    grid-template-rows: 2fr 1fr 2fr 1fr 2fr 1fr;
    padding: 20px;
  }
  .contenedorservicios .gridimagenservicios1 {
    width: 50%;
    height: auto;
  }
  .contenedorservicios .gridimagenservicios2 {
    width: 50%;
    height: auto;
  }
  .contenedorservicios .gridimagenservicios3 {
    width: 50%;
    height: auto;
  }
  /*Main contacto*/
  .contenedorcontacto {
    flex-direction: column;
    justify-content: space-around;
  }
  .contenedorcontacto .mapacontacto {
    width: 100%;
  }
  .contenedorcontacto .formulariocontacto {
    width: 100%;
    margin-bottom: 20px;
  }
  /*Footer*/
  .pie {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
  }
  .pie .datos {
    display: none;
  }
  .pie .mailfooter {
    display: none;
  }
  .pie .logofooter {
    flex-direction: column;
  }
  .pie .logofooter .logo {
    width: 100px;
  }
  .pie .redesfooter {
    justify-content: space-around;
    width: 100%;
  }
  .pie .redesfooter .redes {
    width: 30px;
    height: auto;
  }
}

/*# sourceMappingURL=estilos.css.map */
