/*Para linkear los estilos*/
@use"./variables";

.bodyservicios {
    background-image: url(../fotos/body-servicios.JPG);
    background-position-x: center;
    background-size: cover;
    background-attachment: fixed;

    //*Header*/
    header ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .botones {
            /* Margen interno entre la línea y el contenido=
    padding: ;*/
            /*Espacio externo entre el borde de la caja y el borde de las cajas aledañas*/
            margin-right: 20px;
        }
    }

    .headerservicios {

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .headerlogo {
            width: 40%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        Nav {
            width: 60%;



        }
    }

    /*MAIN*/
    .bannerservicios {
        background-image: url(../fotos/banner-servicios.JPG);
        background-position: center;
        background-size: cover;
        height: 100px;
        display: flex;
        align-items: center;

        .titulonegro {
            color: black;
            align-items: center;

        }
    }

    .contenedorservicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding: 3rem;
        background-image: url("../fotos/body-servicios.JPG");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        justify-items: center;
        text-align: center;


        .gridtextos1,
        .gridtextos2,
        .gridtextos3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: "trajan-pro-3", serif;
            font-weight: 600;
            font-size: 1.3rem;
            margin-bottom: 1rem;
            max-width: 200px;
        }


        .gridimagenservicios1,
        .gridimagenservicios2,
        .gridimagenservicios3 {
            width: 80px;
            height: auto;
            margin-top: -0.5rem;
        }



    }
}