/*Para linkear los estilos*/
@use"./variables";

.bodyservicios {
    background-image: url(../fotos/body-servicios.JPG);
    background-position-x: center;
    background-size: cover;
    background-attachment: fixed;

    //*Header*/
    header ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .botones {
            /* Margen interno entre la línea y el contenido=
    padding: ;*/
            /*Espacio externo entre el borde de la caja y el borde de las cajas aledañas*/
            margin-right: 20px;
        }
    }

    .headerservicios {

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .headerlogo {
            width: 40%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        Nav {
            width: 60%;



        }
    }

    /*MAIN*/
    .bannerservicios {
        background-image: url(../fotos/banner-servicios.JPG);
        background-position: center;
        background-size: cover;
        height: 100px;
        display: flex;
        align-items: center;

        .titulonegro {
            color: black;
            align-items: center;

        }
    }

    .contenedorservicios {

        display: grid;
        grid-template-areas:
            "texto1 texto2 texto3"
            "img1 img2 img3";
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 300px 80px;

        gap: 10px;
        justify-content: space-around;
        justify-items: center;
        align-items: center;

        .gridimagenservicios1 {

            width: 100%;
            height: 80px;
            /*grid*/
            grid-area: img1;
            /*flex*/
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .gridtextos1 {

            /*fuente*/
            font-family: "trajan-pro-3", serif;
            font-weight: 600;
            font-style: oblique;
            font-size: 1.5rem;
            /*grid*/
            grid-area: texto1;
            /*flex*/
            display: flex;
            flex-direction: column;
            align-items: center;



        }

        .gridimagenservicios2 {

            width: 100%;
            height: 80px;
            /*grid*/
            grid-area: img2;
            /*flex*/
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .gridtextos2 {

            /*fuente*/
            font-family: "trajan-pro-3", serif;
            font-weight: 600;
            font-style: oblique;
            font-size: 2rem;
            /*grid*/
            grid-area: texto2;
            /*flex*/
            display: flex;
            flex-direction: column;
            align-items: center;


        }

        .gridimagenservicios3 {

            width: 100%;
            height: 80px;
            /*grid*/
            grid-area: img3;
            /*flex*/
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .gridtextos3 {

            /*fuente*/
            font-family: "trajan-pro-3", serif;
            font-weight: 600;
            font-style: oblique;
            font-size: 1.5rem;
            /*grid*/
            grid-area: texto3;
            /*flex*/
            display: flex;
            flex-direction: column;
            align-items: center;


        }



    }








}