/*Colores*/
$verde: #798E6C;
$blanco:#FFFFFF;
$dorado: #D4AF37;
$madera: #A67C52;
$negro: #1E1E1E;
$gris-claro: #DADADA;
$rosa-claro: #e9d0c3;
$rosa-oscuro: #bd8c78;
$bordo: #a63233;
$verde-oscuro: #4a8161;

/*Fuentes*/

/*Trajan Pro 3 Regular*/
$font-regular:"trajan-pro-3", serif;
$font-regular-weight: 400;
$font-regular-style: normal;

/*Trajan Pro 3 Semibold*/
$font-semibold: "trajan-pro-3", serif;
$font-semibold-weight: 600;
$font-semibold-style: normal;

/*Trajan Pro 3 Bold*/
$font-bold: "trajan-pro-3", serif;
$font-bold-weight: 700;
$font-bold-style: normal;
